.flashes {
  position: fixed;
  top: 10px;
  right: 10px;
  list-style-type: none;
  transition: display 3s;
}

.flashes > li {
  padding: 20px 10px;
  background-color: #78A3D4;
  border-radius: 10px;
  color: #CFE0EB;
  margin: 0 10px;
}

.flashes > li:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #275991b3;
}