.main {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas:
    'header header'
    'friends chat';
  grid-template-columns: 30vw 1fr;
  grid-template-rows: 10vh 1fr;
  gap: 20px;
  padding: 20px;
}

.header,
.friends-list,
.chatbox {
  background-color: #78a3d4;
  border-radius: 20px;
  padding: 20px;
}

.header {
  grid-area: header;
}

.friends-list {
  grid-area: friends;
}

.chatbox {
  position: relative;
  grid-area: chat;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.msg {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.from-msg {
  align-self: flex-start;
  align-items: flex-start;
}

.to-msg {
  align-self: flex-end;
  align-items: flex-end;
}

.msg-sender {
  font-size: 0.6em;
  color: #c0d4e1;
  padding: 0 10px;
}

.msg-date {
  font-size: 0.6em;
  color: #c0d4e1;
  padding: 0 10px;
}

.msg-content {
  background-color: #a6c3e4;
  border-radius: 10px;
  padding: 10px 10px;
  color: #78a3d4;
  margin: 5px 0;
  width: fit-content;
}

.textbox {
  position: fixed;
  bottom: 20px;
  width: 100%;
}
