.main {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-areas:
    'header header'
    'friends chat';
  grid-template-columns: 20vw 1fr;
  grid-template-rows: 10vh 1fr;
  gap: 20px;
  padding: 20px;
}

.header,
.friends-box,
.chatbox {
  background-color: #78a3d4;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 0px 30px #628ab8;
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #a6c3e4;
}

/* The logout button */
.header > a {
  background-color: #c0d4e1;
  color: #78a3d4;
  text-decoration: none;
  padding: 15px;
  border-radius: 10px;
}

.header > a:hover {
  transform: scale(1.1);
  box-shadow: 0 0 20px #275991b3;
}

.friends-box {
  grid-area: friends;
  padding: 0px;
  overflow: auto;
  /* I use firefox */
  scrollbar-width: none;
}

.friends-box::-webkit-scrollbar {
  display: none;
}

.friends-list {
  list-style: none;
}

.friend,
.current-friend {
  border-bottom: 1px #a6c3e4 solid;
}

.friend > a,
.current-friend > a {
  display: block;
  padding: 40px;
  font-size: 1.5em;
  text-decoration: none;
}

.friend > a {
  color: #c0d4e1;
}

.friend > a:hover {
  font-weight: bold;
}

/* The current selected friend should be highlighted */
.current-friend {
  background-color: #c0d4e1;
  font-weight: bold;
}

.current-friend > a {
  color: #78a3d4;
}

.chatbox {
  grid-area: chat;
  display: flex;
  flex-direction: column;
  min-height: 0;
}

.default {
  font-size: 3rem;
  align-self: center;
  color: #c0d4e1;
}

.messages-box {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  flex: 10;
  scrollbar-width: none;
}

.messages-box::-webkit-scrollbar {
  display: none;
}

.msg {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

/* Align the messages on opposite sides like a regular text messaging app */
.from-msg {
  align-self: flex-start;
  align-items: flex-start;
}

.to-msg {
  align-self: flex-end;
  align-items: flex-end;
}

.msg-sender {
  font-size: 0.6em;
  color: #c0d4e1;
  padding: 0 10px;
}

.msg-date {
  font-size: 0.6em;
  color: #c0d4e1;
  padding: 0 10px;
}

.from-msg > .msg-content {
  background-color: #c0d4e1;
  color: #78a3d4;
}

.to-msg > .msg-content {
  background-color: #93b9dd;
  color: #cfe0eb;
}

.msg-content {
  border-radius: 10px;
  padding: 10px 10px;
  margin: 5px 0;
  width: fit-content;
}

.textbox {
  bottom: 20px;
  width: 100%;
}

.msg-form > input[type='text'] {
  margin: 10px 0 0 0;
  font-size: 1.1rem;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  border: none;
  background-color: #a6c3e4;
  color: #78a3d4;
}

.msg-form > input[type='text']:focus {
  outline: none;
}

.msg-form > input[type='submit'] {
  display: none;
}

.msg-form > input::selection {
  background-color: #cfe0eb;
}

@media only screen and (max-width: 700px) {
  .main {
    grid-template-areas: 'header' 'friends' 'chat';
    grid-template-rows: 10vh 10vh 1fr;
    grid-template-columns: 1fr;
  }

  /* In small screen mode, the friends list will scroll horizontally */
  .friends-box {
    overflow-x: auto;
    overflow-y: hidden;
    scrollbar-width: none;
  }

  .friends-box::-webkit-scrollbar {
    display: none;
  }

  .friends-list {
    list-style: none;
    display: flex;
    align-items: center;
  }

  .friend {
    border-bottom: 0;
    border-left: 1px solid #a6c3e4;
    display: inline;
  }

  .friend > a {
    font-size: 1.5em;
    text-decoration: none;
    color: #c0d4e1;
  }

  .friend > a:hover {
    font-weight: normal;
  }
}
