<!-- The layout file for the login and signup pages -->
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/defaults.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/form.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/flashes.css') }}"
    />
    {% block head %} {% endblock %}
    <title>{% block title %}{% endblock %}</title>
  </head>
  <body>
    <!-- The place for the temporary flashed messages. In flashes.css this
    is styled so that it appears as a 'notification' on the top right corner -->
    <div class="form-main">
      {% with messages = get_flashed_messages() %} {% if messages %}
      <ul class="flashes">
        {% for msg in messages %}
        <li>{{ msg }}</li>
        {% endfor %}
      </ul>
      {% endif %} {% endwith %} {% block content %}{% endblock %}
    </div>
    <!-- The script file for making the flashes 'disappear' after a few
    seconds -->
    <script src="{{ url_for('static', filename='js/flashes.js')}}"></script>
  </body>
</html>
