<!-- The main page for users to send messages to other users. It uses a 
grid layout(style.css) that has a [header, sidebar, main chatbox].-->

{% extends 'layout.html' %} {% block head %}{% endblock %} {% block title %}Chat
App{% endblock %} {% block content %}

<!-- The header -->
<nav class="header">
  Logged in as {{username}}
  <a href="{{url_for('logout')}}">Logout</a>
</nav>

<!-- The sidebar. It consists of all the users in the database (except
  the current one) in a list. -->
<div class="friends-box">
  <ul class="friends-list">
    <!-- Will take a list of users from app.py to display -->
    {% for user in users %}
      <!-- We should show a highlighted box if a user is selected -->
      {% if friend == user %}
        <li class="current-friend">
          <a href="{{url_for('userpage', username=username, friend=user)}}">
            {{user}}
          </a>
        </li>
      {% else %}
        <li class="friend">
          <a href="{{url_for('userpage', username=username, friend=user)}}">
            {{user}}
          </a>
        </li>
      {% endif %}
    {% endfor %}
  </ul>
</div>

<!-- The main chatbox. Has a scrollable div for the messages and a messaging
input box at the very bottom -->
<div class="chatbox">
  <!-- This will show only if there are no messages for you and the current
  user -->
  {% if not messages %} <div class="default">Start a Chat</div> {% endif %} 
  <div class="messages-box">
    {% if messages %} 
      {% for message in messages %}
        <!-- Different classes depending on who sent the message. This allows
        for css to put them on opposite sides. -->
        {% if message['sender'] == friend %}
          <div class="from-msg msg">
        {% else %}
          <div class="to-msg msg">
        {% endif %}
            <div class="msg-sender">{{message['sender']}}</div>
            <div class="msg-content">{{message['content']}}</div>
            <div class="msg-date">{{ message['date'] }}</div>
          </div>
      {% endfor %}
    {% endif %}
  </div>
  <div class="textbox">
    <!-- the messageing box. Will not show if the friend variable is 'default'.
    'default' is the state in which no friend to chat has been selected. -->
    {% if friend != 'default' %}
      <form
        action="{{url_for('send_message', username=username, friend=friend)}}"
        method="POST"
        class="msg-form"
        autocomplete="off"
      >
        <input type="text" id="new-msg" name="content" placeholder="Message"/>
        <input type="submit" id="submit-msg" value=""/>
      </form>
    {% endif %}
  </div>
  <!-- Script for essential message functions. -->
  <script src="{{url_for('static', filename='js/message.js')}}"></script>
</div>
{% endblock %}
