{% extends 'alt-layout.html' %}
{% block head %}{% endblock %}
{% block title %}Login{% endblock %}
{% block content %}
  <div class="login-container">
    <form action="{{url_for('check_signup')}}" method="POST" class="login-form">
      <p>Sign Up</p>
      <label for="username" id="username-label">New Username</label>
      <input type="text" id="username" name="username" required/>
      <label for="password" id="password-label">Password</label>
      <input type="password" id="password" name="password" required/>
      <button type="submit" class="login-btn">Sign Up!</button>
      <a href="{{url_for('login')}}">Already have an account? Log in!</a>
    </form>
  </div>
{% endblock %}